body{
    background-color:black;
    padding: 25px 100px 25px 100px;
    color: whitesmoke;
}

h1{
    text-align:center;
    text-decoration:overline;
}

.sabEk{
    padding: 30px 30px 30px 30px;
}

.info{
    padding: 10px;
}



.imgPro{
    height:250px; width:auto ; border: 1px solid #560056; 
    border-radius: 2%; display: block;
    margin-left: auto; margin-right: auto;
}